
/*画面スタイル***/

body {
    font-size: 16px;
    font-family: "MS 明朝","MS P明朝","游明朝",sans-serif,serif,'Roboto', sans-serif;;
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
    margin: 0 auto;
    width: 100%;
}

/*ヘッダー***/
header {
    width: 100%;       /* 幅いっぱいを指定 */
    height: 110px;      /* 高さを50pxに指定 */
    background: transparent;    /* 背景色を指定 */
    padding: 20px 0;         /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box;     /* padding分を含んで幅を100%にするため */
    position: fixed;            /* ウィンドウを基準に画面に固定 */
    top: 0;                    /* 上下の固定位置を上から0pxにする */
    left: 0;                   /* 左右の固定位置を左から0pxにする */
    display: flex;             /* 中の要素を横並びにする */
    align-items: center;            /* 中の要素を上下中央に並べる */
    z-index:9999;
}

a {
    text-decoration: none;
}

.hed {
    display: flex;
    font-size: 2rem;
    font-family: 游明朝;
}


/*ハンバーガーアイコン*/
.btn-burger {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 9999;  /*ボタンが最前線に来るように設定*/
}
/*ハンバーガーアイコンを作る三本線*/
.icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px; /*線の太さ*/
    width: 35px; /*線の長さ*/
    background-color: #444;
    border-radius: 2px;
    display: block;
   content: '';
    cursor: pointer;
    margin: auto;
}
/*三本線の間隔*/
.icon:before {
  top: 20px;
}
.icon:after {
  top: -20px;
}
/*チェックボックス非表示*/
.nav-toggle {
    display: none;
}
/*アイコンをクリックしたら*/
.nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
}
.nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
}
.icon,
.icon:before,
.icon:after {
    transition: all .8s;
}
/*表示されるメニューの中身*/
.nav {
    background-color: rgba(255, 255, 255, 0.582);
    opacity:0.8;
    
}
.nav-list a {
    display: block;
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-family: 游明朝;
    font-size: 1.3rem;
}
.nav-list {
    list-style: none;
    display: none;
    margin: 0;
    padding-left: 70px;
    padding-top: 400px;
    padding-bottom: 50px;
    background-color: #fff;
    height: 100%;
    width: 374px;
    text-align: center;
    z-index: 9998;  /*ハンバーガーボタンより後ろに設定*/
}
.nav-list li {
    margin: 0;
    margin-right: 25px;
    padding: 10px;
}
.nav-toggle:checked ~ .nav .nav-list {
    display: block;
}
/*メインイメージ*/
.top {
    height: 200px;
    margin-bottom: 50px;
    background-color: #f0f8ff;
}

 



/* --------------------------------------------------
  幅768px以上のスタイル指定 ここから
-------------------------------------------------- */
@media screen and (min-width: 768px) {

    a:link, a:visited, a:hover, a:active {
        color: black;
      }

/* ハンバーガーボタン */
.btn-burger {
    display: none;  /*768px以上では使用しない */
}
header {
        width: 100%;       /* 幅いっぱいを指定 */
        height: 110px;      /* 高さを50pxに指定 */    /* 背景色を指定 */
        padding: 20px 50px;         /* ヘッダーに上下左右それぞれ余白を指定 */
        box-sizing: border-box;     /* padding分を含んで幅を100%にするため */
        position: fixed;            /* ウィンドウを基準に画面に固定 */
        top: 0;                    /* 上下の固定位置を上から0pxにする */
        left: 0;                   /* 左右の固定位置を左から0pxにする */
        display: flex;             /* 中の要素を横並びにする */
        align-items: center;            /* 中の要素を上下中央に並べる */
        z-index:9999;
        background-color: rgb(255 255 255 / 86%); /* 背景色を指定 */
        opacity: 0.8;

}

.nav-toggle:checked ~ .nav .nav-list {
    display: none;
}
.nav {
    height: 75px;
    margin-left: 700px;
    margin-top: 20px;
}
.nav-list {
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    color: #000;

    list-style: none;
    margin: 0;
    padding-left: 70px;
    padding-top: 30px;
    background-color: #fff;

}

.nav-list a:hover {
    color: #000;
}
.nav-list li:not(:last-child) {
    /*border-right: 1px solid #fff;*/
}
}

/********************メイン************************/
.main {
    text-align: center;
    margin: 0px 60px;
    margin-top: 20px;
}

.btntell {
    position: fixed;
    bottom: 205px;
    right: 10px;
}
.btn--orange,
a.btn--orange {
    position: fixed;
    bottom: 10px;
    right: 10px;
  color: #fff;
  background-color: #606060;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #606060;
}

.btn--orange2,
a.btn--orange2  {
    display: none;
}

.mainimg {
    text-align: center;
}

.mainimg .logo {
    width: 90%;
    height: 100%;
    position: relative;
}

.logomarck {
    position: absolute;
    mix-blend-mode: multiply;
    width: 25%;
    left: 40%;
    top: 42%;
}

.reserve {
    padding: 160px 80px;
    background-color: #f0efeea3;
}
.tittle{
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
}

.box { 
    border: 2px solid #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 10%;
    text-align: center;
    margin: 0 auto;
    margin-top: 12px;
}

.box2 { 
    border: 2px solid #000;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    width: 120%;
    text-align: center;
    margin: 0 auto;
}


.coll {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.tell {   
    margin-bottom: 35px;
    margin-right: 80px;
    margin-left: 80px;
}
.tellicon {
    margin-right: 20px;
    max-width: 36px;
}

.atagu{
    text-decoration: none;
    color: #444;
}

.annai {
    font-family: 游明朝;
}

/************************************************************************/
/*コンセプト*/
.concept {
    padding: 100px;
    background-color: rgb(193 193 189 / 90%);
}
.conceptimg {
    width: 100%;
    margin-top: 80px;
}

.inbox {
    margin: 50px 10px;
}

.syoukai {
    font-family: 游明朝;
}

.com_while{
    width: 100%;
}
/***************************************************************************/
/*各リンク*/

.link {
    background-color: #f0efeea3;
    padding: 50px 0;
}
.link1 { 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 100px;
}
.link2 { 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 40px;
}


.linkimg {
    width: 80%;
    opacity: 0;
}

.menulink {
    margin: 0;
}

.productlink {}
.bloglink {
    margin-left: -270px;
}

/****************************************************************************/
/*Instagram*/

.insta {
    background-color: #f0efeea3;
    padding: 90px 0;
}
.style {
    display: inline-block;
    margin-top: 55px;
    margin-bottom: 50px;
}
.styleimg{
    height: 180px;
   
}

.more {
    color: #444;
    width: 30%;
    border: 2px solid #444;
    text-align: center;
    margin: 0 auto;

}

/***************************************************************************/
/*footer*/

footer {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color:   #bdb1aecc;
    padding-top: 57px;
    padding-bottom: 100px;
}
.shop { 
    list-style: none;
}
.shousai {
    margin-right: 60px;
    list-style: none;
}
.time {}

.a[href^="tel:"]{
    pointer-events: none;
}



/*********************************************************************************/
 /* モバイル向けスタイル */

 @media screen and (max-width: 540px) {


    .a[href^="tel:"]{
        pointer-events: initial;
    }

    .btntell {
        bottom: 10px;
        left: 65px;
    }

    .btn--orange,
    a.btn--orange {
        display: none;
    }

    .btn--orange2, 
    a.btn--orange2 {
        display: initial;
        position: fixed;
        bottom: 10px;
        right: 90px;
        color: #fff;
        background-color: #606060;
        padding: 3px 55px;
    }
    .btn--orange2:hover,
    a.btn--orange2:hover {
      color: #fff;
      background: #606060;
    }


    .mainimg .logo {
        width: 100%;
    }
    .logomarck {
        top: 20%;
    }

    .main {
        margin: 0;
        margin-top: -90px;
    }

    .box {
        width: 60%;
    }

    .tittle {
        margin: 0;
        padding-top: 42px;
    }

    .coll {
         display: initial; 
    }

    .tell {
        margin-bottom: 35px;
        margin-top: 70px;
         margin-right: 0px; 
         margin-left: 0px; 
    }

    .box2 {
        width: 100%;
    }

    .concept {
        padding: initial;
        padding-bottom: 30px;
    }

    .inbox {
        margin: 50px 34px;
    }
    
    .link1 { 
        display: initial;
    }

    .menulink {
        margin: initial; 
    }

    .linkimg {
        width: 80%;
        margin-bottom: 25px;
    }

    .bloglink {
        margin-left: initial; 
    }

    .link2 {
        display: initial;
    }

    .linkimg2 {
        width: 80%;
        margin-bottom: 25px;
    }

    .style {
        display: flex;
    }

    .styleimg {
        height: initial;
        width: 25%;
    }

    footer{
        margin: 0;
        padding-bottom: 100px;
        display: initial;
        justify-content: center;
        margin: 0;
        background-color:   #bdb1aecc;
        padding-top: 20px;
    }

    .shousai {
        margin-right: 10px;
    }
 }


/*==================================================
ふわっ
===================================*/


/* fadeUp */

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:1s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
    
    
    /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
     
    .fadeUpTrigger{
        opacity: 0;
    }



    /**順番にふわっと***/
/* アニメーションスタートの遅延時間を決めるCSS*/

.delay-time02{
    animation-delay: 0.5s;
    }
    
    .delay-time03{
    animation-delay: 0.65s;
    }
    .delay-time04{
        animation-delay: 0.75s;
        }
        .delay-time05{
            animation-delay: 0.85s;
            }
            
            .delay-time06{
                animation-delay: 0.95s;
                }
            


