
/*画面スタイル***/

body {
    font-size: 16px;
    font-family: "MS 明朝","MS P明朝","游明朝",sans-serif,serif;
    padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
    margin: 0 auto;
    width: 100%;
}

/*ヘッダー***/
header {
    width: 100%;       /* 幅いっぱいを指定 */
    height: 110px;      /* 高さを50pxに指定 */
    background:white ;    /* 背景色を指定 */
    padding: 20px 0;         /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box;     /* padding分を含んで幅を100%にするため */
    position: fixed;            /* ウィンドウを基準に画面に固定 */
    top: 0;                    /* 上下の固定位置を上から0pxにする */
    left: 0;                   /* 左右の固定位置を左から0pxにする */
    display: flex;             /* 中の要素を横並びにする */
    align-items: center;            /* 中の要素を上下中央に並べる */
    z-index:9999;
}

a {
    text-decoration: none;
}

.hed {
    display: flex;
    font-size: 2rem;
    font-family: 游明朝;
}


/*ハンバーガーアイコン*/
.btn-burger {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 10px;
}
/*ハンバーガーアイコンを作る三本線*/
.icon, .icon:before, .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px; /*線の太さ*/
    width: 35px; /*線の長さ*/
    background-color: #444;
    border-radius: 2px;
    display: block;
   content: '';
    cursor: pointer;
    margin: auto;
}
/*三本線の間隔*/
.icon:before {
  top: 20px;
}
.icon:after {
  top: -20px;
}
/*チェックボックス非表示*/
.nav-toggle {
    display: none;
}
/*アイコンをクリックしたら*/
.nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
}
.nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
}
.icon,
.icon:before,
.icon:after {
    transition: all .8s;
}
/*表示されるメニューの中身*/
.nav {
    background-color: white;
    opacity:0.8;
    
}
.nav-list a {
    display: block;
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-family: 游明朝;
}
.nav-list {
    list-style: none;
    display: none;
    margin: 10px 0 0;
    padding-left: 70px;
    padding-top: 30px;
    background-color: #fff;
   
}
.nav-list li {
    margin: 0;
    padding: 10px;
}
.nav-toggle:checked ~ .nav .nav-list {
    display: block;
}
/*メインイメージ*/
.top {
    height: 200px;
    margin-bottom: 50px;
    background-color: #f0f8ff;
}
/* --------------------------------------------------
  幅768px以上のスタイル指定 ここから
-------------------------------------------------- */
@media screen and (min-width: 768px) {
/* ハンバーガーボタン */
.btn-burger {
    display: none;  /*768px以上では使用しない */
}
header {
        width: 100%;       /* 幅いっぱいを指定 */
        height: 110px;      /* 高さを50pxに指定 */
        background: white;     /* 背景色を指定 */
        padding: 20px 50px;         /* ヘッダーに上下左右それぞれ余白を指定 */
        box-sizing: border-box;     /* padding分を含んで幅を100%にするため */
        position: fixed;            /* ウィンドウを基準に画面に固定 */
        top: 0;                    /* 上下の固定位置を上から0pxにする */
        left: 0;                   /* 左右の固定位置を左から0pxにする */
        display: flex;             /* 中の要素を横並びにする */
        align-items: center;            /* 中の要素を上下中央に並べる */
        z-index:9999;
}

.nav-toggle:checked ~ .nav .nav-list {
    display: none;
}
.nav {
    height: 75px;
    margin-left: 700px;
    margin-top: 20px;
}
.nav-list {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
}
.nav-list li:not(:last-child) {
    border-right: 1px solid #fff;
}
}

/********************メイン************************/
.main {
    text-align: center;
    margin: 60px 60px;
}

.mainimg {
    text-align: center;
}

.mainimg .logo {
    width: 90%;
    height: 100%;
}

.about{
    margin-top: 0;
}

.about h1{
    font-family: 游明朝;
    color: #828282;
    font-size: 1.5rem;
    margin-bottom: 100px;
    margin-top: 40px;
}

/****プロフィールリンクボタン****/
/*その他と主な共通部分は省略*/

a.btn-border {
    border-radius: 0;
  }
  
  a.btn-border:before,
  a.btn-border:after {
    position: absolute;
    width: 100%;
    height: 2px;
    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #777676;
  }
  
  a.btn-border:before {
    top: 0;
    left: 0;
  }
  
  a.btn-border:after {
    right: 0;
    bottom: 0;
  }
  
  a.btn-border:hover:before,
  a.btn-border:hover:after {
    width: 0;
  }


/******************************************/

.menu {
    margin-top: 90px;
}

.menu .menulist {
    width: 70%;
    height: 60%;
}

.line .lineimg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-top: 100px;
}

.title {
    object-fit: cover;
    height: 50%;
    width: 40%;
}

.box {
    text-align: center;
	display: block;

}
.box .rigth {
    margin-bottom: 65px

}
.rigth p {
    text-align: left;
	display: inline-block;
    font-size: 1.8rem;
    font-family:  游明朝;
    color: #6b6b6b;
    margin-top: 85px;
}


.access {
    margin-top: 40px;
    margin-bottom: 50px;
}

.access .link img {
    margin: 0 30px;
    margin-bottom: 80px;
}

.comment {
    position: relative;
}

.comment .back {
    
    text-align: left;
    display: block;
    margin-left: 10%;
}

.blog {
    margin-top: 60px;
}

.blog .in p{
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 2rem;
    font-family: 游明朝;
    color: #6b6b6b;
    margin-bottom: 50px;
}


/********styleリンクボタン********/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* 背景用*/
body {
  padding: 30px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #262626;
  border-radius: 0.5rem;
}

a.btn-border-shadow {
  padding: calc(1.5rem - 12px) 3rem 1.5rem;

  background: #fff;
}

a.btn-border-shadow:before {
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 3px solid #3d3d3d;
  border-radius: 0.5rem;
}

a.btn-border-shadow:hover {
  padding: calc(1.5rem - 6px) 3rem;
}

a.btn-border-shadow:hover:before {
  top: 0;
  left: 0;
}

a.btn-border-shadow--color2 {
  border-radius: 100vh;
}

a.btn-border-shadow--color2:before {
  border-radius: 100vh;
  -webkit-box-shadow: 3px 3px 0 #050505;
  box-shadow: 3px 3px 0 #d5d5d5;
}

footer {
    background-color: #444;
    height: 150px;
}

.foot {
    text-align: center;       
}
    
.foot .campany{
    color: rgb(250, 249, 249);
    font-size: 2rem;    
    font-family: monospace;
}


/**********プロフィールページ***********/

.promain {}
h3 {}
.mb {}
.name _{}
.roma{}
.jp {}
.comcept {}
.shopc {}
.phot {}